<h1 class="hide">Menageres et nounous, babysitter qualifiees, experimentees, formees, disponible a Yaounde et Douala au Cameroun</h1>
	<div class="jumbotron intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					
				    <h1 class="hidden-xs info hidden-sm">Trouvez rapidement une <br> <span class="job"></span> <br>pres de chez vous</h1>
				    <h1 class="hidden-md  hidden-lg info-small">Trouvez une<br> <span class="job"></span> <br>pres de chez <br class="visible-xs"> vous</h1>
				    <br>
				    <!-- <p><a class="btn btn-default btn-lg" role="button" href="#marketing">En Savoir Plus</a></p> -->
				    <i class="fa fa-arrow-circle-o-down fa-4x home-icon-arrow hidden-xs" aria-hidden="true"></i>
				    <p class="visible-xs">
				    	<%= link_to "Je suis Employeur", new_job_proposition_path, class: "btn btn-red" %>
				    	<%= link_to "Je suis Candidat", new_candidate_request_path, class: "btn btn-red " %>
				    </p>

				</div>
			</div>
		</div>
	</div>


	 <div class="container  marketing"  id="marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
      	<div class="col-lg-12" >
			<h2 class="heading centered"><span class="left"></span><span>Pourquoi NaNNYa?</span><span class="right"></span></h2>
			<h2 class="hide">service rapide, profil qualifies, nounou, menagere et babysitter a yaounde et douala</h2>
		</div>
		<div class="col-sm-4" >
          <i class="fa fa-handshake-o fa-5x"></i>
          <h3>Simple</h3>
          <p>Appellez nous au <a href="tel:+237694840049">(+237) 694-840-049</a> ou alors remplissez notre formulaire en ligne pour nous exprimer votre besoin.</p>
		</div><!-- /.col-sm-4 -->

		<hr class="visible-xs">

		<div class="col-sm-4">
          <i class="fa fa-bolt fa-5x"></i>
          <h3>Rapide</h3>
          <p>Nous vous rappelerons sous 24h pour confirmer les details de votre besoin et nous vous ferons des propositions .</p> 
		</div><!-- /.col-sm-4 -->

		<hr class="visible-xs">

		<div class="col-sm-4">
          <i class="fa fa-dollar fa-5x "></i>
          <h3>Economique</h3>
          <p>Notre service vous permet d'economiser de l'argent et de gagner en temps en diminuant considerablement vos temps de recherche.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
	</div><!-- /.container -->


      <!-- START THE FEATURETTES -->
     
    
      <!-- Three columns of text below the carousel -->
     
    <section class="lightgray-bg">
	   <div class="container">
		  <div class="row">

  	       	  <div class="marketing">
		           <div class="col-lg-12">
			 	       <h2 class="heading centered"><span class="left"></span><span>Nos Avantages</span><span class="right"></span></h2>
				   </div>
	    	  </div>

		      <div class="row featurette">
		        <div class="col-md-7">
		          <h2 class="featurette-heading">Des profils qualifies pour votre service</h2>
		          <p class="lead">Nous mettons un accent particulier sur la qualite de nos filles lors de nos recrutements. le savoir vivre et l'experience sont les atouts que nous garantissons pour chacune des filles que nous mettrons a votre disposition  .</p>
		        </div>
		        <div class="col-md-5">
		          <img class="featurette-image img-responsive" src="<%= asset_path 'featureImages/feature-1.jpg' %>" alt="Femme de menage Vip disponible a Yaounde et Douala">
		        </div>
		      </div>
	   	  </div>
	    </div>
	</section>
		

	 

	<section class="feat">
	   <div class="container">
		  <div class="row">


	      <div class="row featurette">
	        <div class="col-md-5">
		        <img class="featurette-image img-responsive" src="<%= asset_path 'featureImages/feature-2.jpg' %>" alt="femme de menage fait la cuisine et prepare le repas a Douala">
	        </div>
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Votre bien etre, <span class="text-muted">notre priorite</span></h2>
	          <p class="lead">Nous Comprenons qu'il est delicat de nos jours de trouver une menagere/nounou qui ne se preoccupe que de son travail dans votre domicile. c'est la raison pour laquelle nos filles sont formees pour ne travailler que dans le perimetre que vous leur definnissez</p>
	        </div>
	      </div>

	      </div>
		</div>
	</section>


	<section class="lightgray-bg">
	   <div class="container">
		  <div class="row">

		      <div class="row featurette">
		        <div class="col-md-7">
		          <h2 class="featurette-heading">Satisfaction Garantie</h2>
		          <p class="lead">Nous nous assurerons que vous etes comfortable avec votre employes, votre satisfaction est notre priorite. Si jamais pour une raison quelconque vous ressenter le besoin de changer votre employe. nous vous conduirons dans cette procedure dans de bref delais.</p>
		        </div>
		        <div class="col-md-5">
		        	<img class="featurette-image img-responsive" src="<%= asset_path 'featureImages/feature-3.jpg' %>" alt="femme de menage nettoyant une cuisine a Yaounde">
		        </div>
		      </div>
	   	  </div>
	    </div>
	</section>
      
      <!-- /END THE FEATURETTES -->



    <section id="bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 aligncenter">
					<h4>Vous avez en nous un partenaire de confiance</h4>
					<p>
					Nous saurons vous apporter une solution a votre probleme dans de bref delais alors... 
					</p>	
					<!-- <%= link_to "Exprimer votre besoin", new_job_proposition_path, class: "btn btn-lg btn-red hidden-xs"  %> -->
					 <p class="hidden-xs">
				    	<%= link_to "Je suis Employeur", new_job_proposition_path, class: "btn btn-lg btn-red" %>
				    	<%= link_to "Je suis Candidat", new_candidate_request_path, class: "btn btn-lg btn-red " %>
				    </p>
					<a href="tel:+237694840049" class="btn btn-lg btn-red col-xs-8 col-xs-offset-2 visible-xs "><i class="fa fa-phone text-white"></i>694-840-049</a>
				</div>
			</div>
		</div>				
	</section>


	<script>
		

		$(".job").typed({
			strings: ["MENAGERE", "NOUNOU"],
			typeSpeed: 100,
			backSpeed: 30,
			startDelay: 50,
			loop: true
		});
	</script>