<!DOCTYPE html>
<html lang='fr'>
<head>
  <title>NaNNYa - Trouvez des Menageres et Babysitters pres de chez vous</title>
  <meta name="description" content=  "<%= @meta_description  %>" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="msvalidate.01" content="D9757D91BD01A7B54251144574499A67" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>">
	<!--   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
 <!--  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <link href='https://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render :partial => "shared/navigation" %>

	<% if notice || alert %>
	 <p class="alert alert-info"><%= notice %></p>
	 <p class="alert alert-warning"><%= alert %></p>
	<% end -%>
	<%= yield %>

	<%= render :partial => "shared/footer" %>
 
</body>
</html>
